body{
    background-color: cadetblue;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4.5px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 75px;
    color: darkred;
    border-radius: 15px;
    border: solid black;
    border-width: 5px;
    background-color: burlywood;
}
.resetGame{
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#newBtn{
    height: 60px;
    width: 110px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#msg{
    font-size: 40px;
}
#msg-container{
    height: 40vmin;
} 
.hide{
    display: none;
}